header {
    background-image: url('../images/background_5.webp');
}

.content{
    margin: 0 0 20px 0;
}

.container{
    padding: 15px;
}
.subtopic-title{
    font-size: larger;
    font-weight: bold;
}
.subtopic{
    padding-left: 25px;
}

.biblio{
    margin-bottom: -15px;
}